* {
	box-sizing: border-box;
}body {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 24px;
	margin: 0;
}

.wrapper {
	float: left;
	width: 100%;
}

.content {
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
}

.copy {
	margin: 100px 0;
}

.copy .title {
	margin: 0 0 40px 0;
	font-size: 20px;
}

.events {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.events li {
	border-bottom: 1px #ccc solid;
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	float: left;
	width: 100%;
}

.events li:last-child {
	border-bottom: 0;
}

.events .event__date,
.events .event__venue,
.events .event__location,
.events .event__links {
	padding: 0 30px 0 0;
	float: left;
	width: 22%;
}

.events .event__date {
	width: 34%;
}

.events .event__links {
	text-align: right;
	padding-right: 0;
}

.events .event__links a {
	margin: 0 0 0 10px;
	text-decoration: none;
	background: #b1e9ed;
	border-radius: 4px;
	padding: 8px;
	font-size: 10px;
	line-height: 12px;
	color: #003333;
}

.events .event__links a:hover {
	background: #003333;
	color: #b1e9ed;
}